#container{width:860px; margin: 0 auto; }
#container .item {
width: 408px;
margin: 20px 10px 10px 10px;
float: left;
background-color:#ffffff;
border:solid 1px #B4BBCD;
min-height:50px;
text-align:justify;
word-wrap:break-word; 
    
}

/* ClearFix */
 
.clearfix {
	display: block;
}
 
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
